/*-------------------*\
    Fonts
\*-------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/*-------------------*\
    Common Style
\*-------------------*/
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f3f1ff;
    font-weight: 500;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 860px;
    background-color: #ffffff;
    padding: 33px;
    margin-top: 20px;
    border-radius: 5px;
}

hr {
    border: 1px solid #D1D1D1;
}

/*-------------------*\
    Top Players Style
\*-------------------*/
.top-players {
    margin-bottom: 30px;
}

.section-title {
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player {
    display: flex;
    align-items: center;
}

.player-name {
    margin-left: 16px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}

.player img {
    width: 56px;
    height: 56px;
}

/*-------------------*\
    Top Post Style
\*-------------------*/
.top-blogs {
    margin-top: 25px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
    justify-content: space-between;
}

.blog {
    display: flex;
}

.blog-thumnail img {
    width: 224px;
    height: 127px;
}

.blog-info {
    margin-left: 16px;
}

.blog-title {
    font-size: 20px;
    line-height: 34px;
    font-weight: 500;
    margin: 3px;
}

.blog-author {
    font-size: 16px;
    line-height: 24px;
}

.blog-author a {
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}



/*-------------------*\
    Latest course Style
\*-------------------*/
.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}

/* .course {
    padding: 20px;
} */

.course:first-child{
    padding-left: 0;
}

.course:last-child {
    padding-right: 0;
}

.course-banner img {
    width: 210px;
    height: 104px;
}

.course-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

.course-author {
    font-size: 14px;
    line-height: 17px;
    color: #ED6B4F;
}

.course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-star.filled {
    color: #FFC014;
    font-size: 12px;
}

.fa-star.emty {
    color: #aeaeae7a;
    font-size: 12px;
}

.course-info span {
    color: #A2A2A2;
    font-size: 14px;
}

.duration {
    background-color: #FFE4E8;
    color: #FF4A60;
    padding: 1px 3px;
    border-radius: 12px;
}


/*-------------------*\
    Media query Style
\*-------------------*/
@media (max-width: 480px) {
    .container {
        width: 80%;
    }
    .players, .blogs, .courses {
        grid-template-columns: repeat(1, 1fr);
    }
    .blogs {
        justify-content: center;
    }
    .blog {
        display: flex;
        flex-direction: column;
    }
    /* .blog-info {
        margin-left: 0;
    }
    .course {
        padding: 0;
    } */
}

@media (min-width: 481px) and (max-width: 992px) {
    .container {
        width: 100%;
    }
    .players, .blogs, .courses {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .blog {
        display: flex;
        flex-direction: column;
    }
    
    .blog-info {
        margin-left: 0;
    }
    .course {
        padding: 0;
    }
}